:root { 
--bluegray_51:#edeef0; 
--bluegray_50:#ecedef; 
--deep_orange_A200:#e56135; 
--blue_A700:#2f6ce5; 
--black_900_1e:#0000001e; 
--black_900_87:#00000087; 
--green_A700:#02b875; 
--black_900:#000000; 
--gray_600:#808080; 
--gray_700:#5b5b5b; 
--gray_400:#bfbfc0; 
--gray_500:#979899; 
--gray_401:#b7b7b7; 
--gray_701:#696a6b; 
--gray_200:#edeeef; 
--gray_300:#e0e0e0; 
--gray_100:#f2f2f2; 
--bluegray_900:#2d2d2d; 
--bluegray_700:#525252; 
--black_900_99:#00000099; 
--black_900_72:#00000072; 
--bluegray_400:#898989; 
--bluegray_200:#a9aeb8; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}