
 @font-face { font-style : bold; src: url("assets/fonts/ibmplexsansmedium500.ttf"); font-family : "IBM Plex Sans"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/ibmplexsanssemibold600.ttf"); font-family : "IBM Plex Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/ibmplexsansibmplexsans400.ttf"); font-family : "IBM Plex Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/ibmplexsansbold700.ttf"); font-family : "IBM Plex Sans"; font-weight : 700;  }